<section>
    <a href="/course/create" class="btn btn-warning ">Create Course</a>
    <form class="search float-right">
        <label>Search: </label>
        <input type="text">
        <input type="submit" class="btn btn-info" value="Search">
    </form>
</section>